<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Virhuez">
    <meta name="description" content="CSE340: Web Backend Development - Michael Virhuez - CSE Motors website00">
    <meta property="og:title" content="CSE340: Web Backend Development - Michael Virhuez">
    <meta property="og:description" content="CSE340: Web Backend Development - Michael Virhuez" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
    media="print"
    onload="this.media='all'">
    <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </noscript>
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>