<h1 class="page-title">Welcome to CSE Motors!</h1>

<section class="hero">
  <div class="hero__copy">
    <h2 class="hero__title">DMC Delorean</h2>
    <ul class="hero__bullets">
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <a href="#" class="btn btn-primary">Own Today</a>
  </div>

  <div class="hero__image">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
  </div>
</section>

<section class="content-two">
 
  <article class="column reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul class="reviews__list">
      <li>“So fast it's almost like traveling in time.” (4/5)</li>
      <li>“Coolest ride on the road.” (4/5)</li>
      <li>“I'm feeling McFly!” (5/5)</li>
      <li>“The most futuristic ride of our day.” (4.5/5)</li>
      <li>“80's livin and I love it!” (5/5)</li>
    </ul>
  </article>

  <article class="column upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="tiles">
      <a class="tile" href="#"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"><span>Flux Capacitor</span></a>
      <a class="tile" href="#"><img src="/images/upgrades/flame.jpg"  alt="Flame Decals"><span>Flame Decals</span></a>
      <a class="tile" href="#"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"><span>Bumper Stickers</span></a>
      <a class="tile" href="#"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"><span>Hub Caps</span></a>
    </div>
  </article>
</section>
